
<robot name="004_sugar_box">
  <link name="004_sugar_box_link">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.514" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="../tsdf/nontextured.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="../tsdf/nontextured.stl" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="004_sugar_box">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>
